<header title="Page Header" class="" data-doneness="" data-description="" wrapper="header" wrapperclass=""></header>
<article id="variations">
  <section data-variation="default" title="Default" class="">
    <!-- component variation markup goes here //-->
	<section class="default-header">
		<h2><a href="home.html">Peter's Sample Site</a></h2>
		<nav class="proto">
			<ul>
				<li><a href="home.html">Home</a></li>
				<li><a href="about.html">About</a></li>
			</ul>
		</nav>
	</section>
  </section>
  <section data-variation="alternative" title="Alternative Color" class="">
    <!-- component variation markup goes here //-->
	<section class="alt-header-color">
		<h2><a href="home.html">Peter's Sample Site - ALT</a></h2>
		<nav class="proto">
			<ul>
				<li><a href="home.html">Home</a></li>
				<li><a href="about.html">About</a></li>
			</ul>
		</nav>
	</section>
  </section>
</article>
<aside class="notes">
  <!-- annotation notes, in basic markup, go here //-->
  <h3>Notes</h3>
  <p>You'll see that there are two variations here!</p>
</aside>`