<header title="Page Footer" class="" data-doneness="" data-description="" wrapper="footer" wrapperclass=""></header>
<article id="variations">
  <section data-variation="default" title="Default">
    <section class="main-footer">
		<ul class='footer-links'>
			<li><a href="#">Link 1</a></li>
			<li><a href="#">Link 2</a></li>
			<li><a href="#">Link 3</a></li>
		</ul>
		<p class='copyright'>Copyright 2012</p>
	</section>	
  </section>>
</article>
<aside class="notes">
  <!-- annotation notes, in basic markup, go here //-->
  <h3>Business Rules</h3>
  <ul><li>You can put your business rules here</li><li>And another one here...</li></ul>
</aside>`